$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);

$ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
$ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);