$regular-2xl: 1.15rem;
$regular-xl: 1.10rem;
$regular-lg: 1.05rem;
$regular-md: 1rem;
$regular-sm: 0.925rem;
$regular-xs: 0.875rem;
$regular-2xs: 0.75rem;


$header-2xl: 1.75rem;
$header-xl: 1.50rem;
$header-lg: 1.40rem;
$header-md: 1.30rem;
$header-sm: 1.25rem;
$header-2xs: 1.20rem;