$font-regular-largest: 1.15rem;
$font-regular-larger: 1.10rem;
$font-regular-large: 1.05rem;
$font-regular: 1rem;
$font-regular-small: 0.925rem;
$font-regular-smaller: 0.875rem;
$font-regular-smallest: 0.75rem;