@use "./data/colour";
@use "./data/effect";
@use "./data/layout";
@use "./data/normalise";

html,
body {
  height: 100vh;
}

body {
  background-color: colour.$gunmetal-600;
  background-attachment: fixed;
  color: colour.$font-dark;
  font-family: Inter, sans-serif;
}
