@use "./data/colour";
@use "./data/effect";
@use "./data/layout";
@use "./data/normalise";

body {
  background-color: colour.$gunmetal-600;
  color: colour.$font-dark;
  font-family: Inter, sans-serif;
}
