@use "./data/colour";
@use "./data/effect";
@use "./data/layout";
@use "./data/normalise";

body {
  height: 100vh;
  background-image: colour.$app-background;
  background-attachment: fixed;
  color: colour.$font-dark;
  font-family: Inter, sans-serif;
}
