// Breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-largest: 1280px;

// Shared colours
$colour-primary: hsl(82, 98%, 65%);

// Light mode colours
$colour-lm-background: hsl(0, 0%, 95%);
$colour-lm-font: hsl(0, 0%, 10%);
$colour-lm-header: hsla(0, 0%, 90%, 0.8);
$colour-lm-nav-menu: hsla(0, 0%, 87.5%, 0.8);
$colour-lm-border: hsl(0, 0%, 70%);

// Dark mode colours
$colour-dm-background: hsl(0, 0%, 15%);
$colour-dm-font: hsl(0, 0%, 95%);
$colour-dm-header: hsla(0, 0%, 10%, 0.8);
$colour-dm-nav-menu: hsla(0, 0%, 12.5%, 0.8);
$colour-dm-border: hsl(0, 0%, 30%);

// Font sizes
$font-size-default: 1rem;
$font-size-small: calc($font-size-default * 0.875);
$font-size-smallest: calc($font-size-default * 0.75);
$font-size-large: calc($font-size-default * 1.125);
$font-size-largest: calc($font-size-default * 1.25);

// Transition times
$transition-short: 150ms;
$transition-medium: 200ms;
$transition-long: 250ms;

// Easing curves
$ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);

// Header
$header-height: 48px;
$header-nav-button-size: 32px;

// Main
$content-offset: 1rem;

// Effects
$blur-default: 4px;
